<p id="notice"><%= notice %></p>

<ul id="users-list">
  <% @users.each do |user| %>
    <li >
      <%= link_to user do %>
        <div class='personal'>
        <img src="https://api.adorable.io/avatars/250/abott@adorable.png">
          <strong><%= user.name%></strong>
        </div>
        <div class='follow'>
          <span>Seguindo 99</span>
          <span>Seguido por 99</span>
          <span>Posts: 99</span>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>